<footer>
    <div class="f-info">
        <div class="f-info-socials">
             <a href="https://www.facebook.com/" style="text-decoration: none;"><i class="fa-brands fa-facebook"></i></a>
            <a  href="https://www.instagram.com/" style="text-decoration: none;"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/sathwik-pedapati-13b754289/" style="text-decoration: none;"><i class="fa-brands fa-linkedin"></i></a>
        <div class="brand">&copy;Sathwik Listings</div>
        <div class="f-info-links">
            <a href="#">privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>
